//*
/// Index variables
///
$index-font-color: $cello;
$index-width: 1240px;
$index-padding: 0 20px;

//*
/// Request Demo Banner variables
///
$index-request-demo-banner-content-width: 728px;
$index-request-demo-banner-height: 325px;

.features-wrapper {
    @include flexbox();
    margin: 60px;
    padding: $index-padding;
    justify-content: center;

    .features {
        width: $index-width;
        max-width: $index-width;
    }

    .features-header {
        margin-bottom: 60px;
        font-family: "Proxima Nova Semibold";
        font-size: 48px;
        color: $index-font-color;
        white-space: nowrap;

        @include breakpoint("small") {
            font-size: 36px;
        }
    }

    .grid {
        @include flexbox();
        flex-wrap: wrap;
        justify-content: center;

        @include breakpoint("large") {
            justify-content: space-between;;
        }

        .grid-card {
            &:hover {
                border-top: 6px solid $denim;
            }

            @include create-grid($columns: 1);
            width: 440;
            height: 418;
            padding: 36px 30px;
            color: $index-font-color;
            line-height: 1.125;
            overflow: hidden;
            border-top: 6px solid transparent;

            @include breakpoint("large") {
                @include create-grid($columns: 3);
            }

            @include breakpoint("small") {
                width: 320px;
                height: 300px;
                margin: 0 10px 30px 10px;
            }

            .feature-header {
                position: relative;
                font-size: 35px;
                font-weight: bolder;

                &::before {
                    content: url('../../assets/default-avatar-small.svg');
                    display: block;
                    margin-bottom: 10px;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                @media only screen and (min-width: 1000px) and (max-width: 1200px) {
                    font-size: 29px;
                }

                @include breakpoint("small") {
                    font-size: 20px;
                }
            }

            .feature-subheader {
                font-size: 33px;
                margin-bottom: 15px;

                @media only screen and (min-width: 1000px) and (max-width: 1200px) {
                    font-size: 27px;
                }

                @include breakpoint("small") {
                    font-size: 18px;
                }
            }

            .see-how-link {
                &::after {
                    content: url('../../assets/right-chevron.svg');
                    margin-bottom: 10px;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                @include breakpoint("small") {
                    font-size: 18px;
                }

                @include anchor($picton-blue);
                font-size: 20px;
            }
        }
    }
}

.request-demo-banner {
    @include flexbox();
    padding: $index-padding;
    min-height: $index-request-demo-banner-height;
    background-color: $picton-blue;
    color: $white;
    justify-content: center;
    align-items: center;

    .request-demo-content {
        @include flexbox();
        width: $index-request-demo-banner-content-width;
        @-moz-document url-prefix() {
            width: 750px;
        }
        flex-direction: column;
        align-items: center;
        text-align: center;

        @include breakpoint("small") {
            width: 500px;
        }

        .request-demo-header {
            margin-bottom: 30px;
            line-height: 1.25;
        }

        .demo-button {
            color: $picton-blue;
        }
    }
}
