//*
/// Navbar variables
///
$navbar-height-full: 60px;
$navbar-height-medium: 50px;
$navbar-width: 1240px;
$navbar-padding: 0 20px;
$navbar-header-nav-margin: 30px;
$navbar-header-color: $white;

header {
    @include breakpoint('large') {
        height: $navbar-height-full;
    }
    @include flexbox();
    position: fixed;
    top: 0;
    width: 100%;
    height: $navbar-height-medium;
    padding: $navbar-padding;
    overflow: hidden;
    justify-content: center;
    background-color: $navbar-header-color;
    box-shadow: 0 1px 2px $alto;
    z-index: 1;

    nav {
        @include flexbox();
        width: $navbar-width;
        justify-content: space-between;
        align-items: center;
    }
}

.header-navbar-logo {
    @-moz-document url-prefix() {
        padding-top: 7px;
    }
    
    .logo-bc-full-small {
        @include breakpoint('large') {
            display: none;
        }
    }

    .logo-bc-full {
        @include breakpoint('medium') {
            display: none;
        }
        @include breakpoint('small') {
            display: none;
        }
    }
}

.header-nav-expanded, .header-nav-compact {
    a:hover {
        color: $picton-blue;
    }

    .header-nav {
        li {
            a.login {
                color: $picton-blue;
            }
        }
    }
}

.header-nav-expanded {
    @include breakpoint('small') {
        display: none;
    }
    @include breakpoint('medium') {
        display: none;
    }
    @include flexbox();
    align-items: center;

    .header-nav {
        @include flexbox();
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            margin-left: $navbar-header-nav-margin;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .header-demo-button {
        margin-left: $navbar-header-nav-margin;
        color: $picton-blue;
        border-color: $picton-blue
    }
}

.header-nav-compact {
    @include breakpoint('large') {
        display: none;
    }

    .menu-icon {
        background-image: url('../../assets/hamburger-menu.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        min-height: 50px;
        height: 100%;
        cursor: pointer;
    }

    #menuTrigger, .header-nav {
        display: none;
    }

    #menuTrigger:checked + .header-nav {
        display: block;
    }

    .header-nav {
        position: fixed;
        top: $navbar-height-medium;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: $white;
        text-align: center;
        box-shadow: 0 1px 2px $alto;
        z-index: 1;

        li {
            padding: 15px 0;
            border-top: 1px solid $mercury;
        }
    }
}
