html {
  box-sizing: border-box;
  background-color: #FAFAFA; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

a {
  color: #595959;
  text-decoration: none; }
  a:visited {
    color: #595959; }

@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/proxima/proximanova-regular-webfont.woff2") format("woff2"), url("fonts/proxima/proximanova-regular-webfont.woff") format("woff"); }

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("fonts/proxima/proximanova-semibold-webfont.woff2") format("woff2"), url("fonts/proxima/proximanova-semibold-webfont.woff") format("woff"); }

html, body, button {
  font-family: "Proxima Nova";
  font-size: 18px; }

h1, h2, h3 {
  margin: 0; }

h1 {
  font-size: 72px; }
  @media only screen and (max-width: 800px) {
    h1 {
      font-size: 36px; } }

h2 {
  font-size: 48px; }
  @media only screen and (max-width: 800px) {
    h2 {
      font-size: 36px; } }

h3 {
  font-size: 32px; }
  @media only screen and (max-width: 800px) {
    h3 {
      font-size: 18px; } }

button {
  border: 1px solid #FFFFFF;
  height: 44px;
  padding: 0 30px;
  background-color: #FFFFFF;
  border-radius: 2px;
  cursor: pointer; }

footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 350px;
  margin: 40px 0;
  padding: 0 20px;
  justify-content: center; }

.footer-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  max-width: 1240px;
  justify-content: space-between;
  flex-wrap: wrap; }

.logo {
  margin-right: 30px; }

.footer-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 679px) {
    .footer-nav {
      margin: 40px 0; } }
  .footer-nav .half {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    @media only screen and (max-width: 679px) {
      .footer-nav .half:not(:first-child) {
        margin-top: 40px; } }
  .footer-nav ul {
    min-width: 140px;
    margin: 0;
    padding: 0;
    list-style: none; }
    .footer-nav ul:not(:first-child) {
      margin-left: 40px; }
    .footer-nav ul li {
      margin-bottom: 20px; }
    .footer-nav ul .category {
      color: #1D355E;
      font-size: 15px;
      font-weight: bolder;
      text-transform: uppercase;
      white-space: nowrap; }
    .footer-nav ul .social-media-wrapper {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap; }
      .footer-nav ul .social-media-wrapper li:not(:first-child) {
        margin-left: 22px; }

.legal {
  flex: 1 100%;
  color: #595959;
  font-size: 14px; }
  .legal ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    list-style-type: none;
    border-top: 1px solid #000000;
    padding-top: 13px;
    opacity: 0.8; }
    .legal ul li.copyright {
      flex: 2; }
    .legal ul li.truncated {
      display: none; }
    .legal ul li:not(:first-child) {
      margin-left: 40px; }
    @media only screen and (max-width: 800px) {
      .legal ul li.truncated {
        display: block; }
      .legal ul li.expanded {
        display: none; } }

.hero-banner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  height: 670px;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: #1D58BC; }
  @media only screen and (max-width: 800px) {
    .hero-banner {
      height: 300px; } }
  .hero-banner svg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 10vw; }

.banner-content {
  position: relative;
  width: 1240px;
  max-width: 1240px;
  letter-spacing: 1.5px; }
  @media only screen and (max-width: 800px) {
    .banner-content {
      width: auto; } }
  .banner-content h3 {
    margin: 30px 0; }
  .banner-content .demo-button {
    padding: 0 25px;
    color: #1D58BC; }
  .banner-content .iphone {
    display: none;
    position: absolute;
    top: -115px; }
    @media only screen and (min-width: 1000px) {
      .banner-content .iphone {
        display: block;
        height: 650px;
        right: 0; } }
    @media only screen and (min-width: 1200px) {
      .banner-content .iphone {
        display: block;
        height: auto;
        right: 110px; } }

header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  overflow: hidden;
  justify-content: center;
  background-color: #FFFFFF; }
  @media only screen and (min-width: 1000px) {
    header {
      height: 60px; } }
  header nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 1240px;
    justify-content: space-between;
    align-items: center; }

@media only screen and (min-width: 1000px) {
  .header-navbar-logo .logo-bc-full-small {
    display: none; } }

@media only screen and (min-width: 801px) and (max-width: 999px) {
  .header-navbar-logo .logo-bc-full {
    display: none; } }

@media only screen and (max-width: 800px) {
  .header-navbar-logo .logo-bc-full {
    display: none; } }

.header-nav-expanded a:hover, .header-nav-compact a:hover {
  color: #32ADE6; }

.header-nav-expanded .header-nav li a.login, .header-nav-compact .header-nav li a.login {
  color: #32ADE6; }

.header-nav-expanded {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 800px) {
    .header-nav-expanded {
      display: none; } }
  @media only screen and (min-width: 801px) and (max-width: 999px) {
    .header-nav-expanded {
      display: none; } }
  .header-nav-expanded .header-nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .header-nav-expanded .header-nav li {
      display: inline;
      margin-left: 30px; }
      .header-nav-expanded .header-nav li:first-child {
        margin-left: 0; }
  .header-nav-expanded .header-demo-button {
    margin-left: 30px;
    color: #32ADE6;
    border-color: #32ADE6; }

@media only screen and (min-width: 1000px) {
  .header-nav-compact {
    display: none; } }

.header-nav-compact .menu-icon {
  background-image: url("../../assets/hamburger-menu.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  cursor: pointer; }

.header-nav-compact #menuTrigger, .header-nav-compact .header-nav {
  display: none; }

.header-nav-compact #menuTrigger:checked + .header-nav {
  display: block; }

.header-nav-compact .header-nav {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #FFFFFF;
  text-align: center;
  z-index: 1; }
  .header-nav-compact .header-nav li {
    padding: 15px 0;
    border-top: 1px solid #E5E5E5; }

.features-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 60px;
  padding: 0 20px;
  justify-content: center; }
  .features-wrapper .features {
    width: 1240px;
    max-width: 1240px; }
  .features-wrapper .features-header {
    margin-bottom: 60px;
    font-family: "Proxima Nova Semibold";
    font-size: 48px;
    color: #1D355E;
    white-space: nowrap; }
    @media only screen and (max-width: 800px) {
      .features-wrapper .features-header {
        font-size: 36px; } }
  .features-wrapper .grid {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media only screen and (min-width: 1000px) {
      .features-wrapper .grid {
        justify-content: space-between; } }
    .features-wrapper .grid .grid-card {
      width: calc(95% / 1);
      margin-bottom: 30px;
      box-shadow: 0 0 1px 1px #D3D3D3;
      background-color: #FFFFFF;
      width: 440;
      height: 418;
      padding: 36px 30px;
      color: #1D355E;
      line-height: 1.125;
      overflow: hidden;
      border-top: 6px solid transparent; }
      .features-wrapper .grid .grid-card:hover {
        border-top: 6px solid #1D58BC; }
      @media only screen and (min-width: 1000px) {
        .features-wrapper .grid .grid-card {
          width: calc(95% / 3);
          margin-bottom: 30px;
          box-shadow: 0 0 1px 1px #D3D3D3;
          background-color: #FFFFFF; } }
      @media only screen and (max-width: 800px) {
        .features-wrapper .grid .grid-card {
          width: 320px;
          height: 300px;
          margin: 0 10px 30px 10px; } }
      .features-wrapper .grid .grid-card .feature-header {
        position: relative;
        font-size: 35px;
        font-weight: bolder; }
        .features-wrapper .grid .grid-card .feature-header::before {
          content: url("../../assets/default-avatar-small.svg");
          display: block;
          margin-bottom: 10px;
          background-repeat: no-repeat;
          background-position: center; }
        @media only screen and (min-width: 1000px) and (max-width: 1200px) {
          .features-wrapper .grid .grid-card .feature-header {
            font-size: 29px; } }
        @media only screen and (max-width: 800px) {
          .features-wrapper .grid .grid-card .feature-header {
            font-size: 20px; } }
      .features-wrapper .grid .grid-card .feature-subheader {
        font-size: 33px;
        margin-bottom: 15px; }
        @media only screen and (min-width: 1000px) and (max-width: 1200px) {
          .features-wrapper .grid .grid-card .feature-subheader {
            font-size: 27px; } }
        @media only screen and (max-width: 800px) {
          .features-wrapper .grid .grid-card .feature-subheader {
            font-size: 18px; } }
      .features-wrapper .grid .grid-card .see-how-link {
        color: #32ADE6;
        text-decoration: none;
        font-size: 20px; }
        .features-wrapper .grid .grid-card .see-how-link::after {
          content: url("../../assets/right-chevron.svg");
          margin-bottom: 10px;
          background-repeat: no-repeat;
          background-position: center; }
        @media only screen and (max-width: 800px) {
          .features-wrapper .grid .grid-card .see-how-link {
            font-size: 18px; } }
        .features-wrapper .grid .grid-card .see-how-link:visited {
          color: #32ADE6; }

.request-demo-banner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0 20px;
  min-height: 325px;
  background-color: #32ADE6;
  color: #FFFFFF;
  justify-content: center;
  align-items: center; }
  .request-demo-banner .request-demo-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 728px;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    @media only screen and (max-width: 800px) {
      .request-demo-banner .request-demo-content {
        width: 500px; } }
    .request-demo-banner .request-demo-content .request-demo-header {
      margin-bottom: 30px;
      line-height: 1.25; }
    .request-demo-banner .request-demo-content .demo-button {
      color: #32ADE6; }
