html, body {
  margin: 0;
  padding: 0; }

a {
  color: #595959;
  text-decoration: none; }
  a:visited {
    color: #595959; }

@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/proxima/proximanova-regular-webfont.woff2") format("woff2"), url("fonts/proxima/proximanova-regular-webfont.woff") format("woff"); }

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("fonts/proxima/proximanova-semibold-webfont.woff2") format("woff2"), url("fonts/proxima/proximanova-semibold-webfont.woff") format("woff"); }

html, body {
  font-family: "Proxima Nova"; }

header, button {
  font-family: "Proxima Nova Semibold"; }

header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: relative;
  width: 100%;
  height: 50px; }
  @media only screen and (min-width: 1000px) {
    header {
      height: 60px; } }
  header nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 1240px;
    max-width: 1240px;
    margin: auto;
    padding: 0 50px;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center; }

@media only screen and (min-width: 1000px) {
  .header-logo .logo-bc-full-small {
    display: none; } }

@media only screen and (max-width: 801px) {
  .header-logo .logo-bc-full {
    display: none; } }

@media only screen and (min-width: 800px) and (max-width: 999px) {
  .header-logo .logo-bc-full {
    display: none; } }

.header-nav-expanded a:hover, .header-nav-compact a:hover {
  color: #32ADE6; }

.header-nav-expanded .header-nav, .header-nav-compact .header-nav {
  font-size: 1.125em; }
  .header-nav-expanded .header-nav li a.login, .header-nav-compact .header-nav li a.login {
    color: #32ADE6; }

.header-nav-expanded {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 801px) {
    .header-nav-expanded {
      display: none; } }
  @media only screen and (min-width: 800px) and (max-width: 999px) {
    .header-nav-expanded {
      display: none; } }
  .header-nav-expanded .header-nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 600px;
    justify-content: space-evenly;
    list-style-type: none; }
    .header-nav-expanded .header-nav li {
      display: inline; }
  .header-nav-expanded .header-demo {
    border: 1px solid #32ADE6;
    width: 180px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 2px;
    color: #32ADE6;
    font-size: 1.125em; }

@media only screen and (min-width: 1000px) {
  .header-nav-compact {
    display: none; } }

.header-nav-compact .menu-icon {
  background-image: url("../../assets/hamburger-menu.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  cursor: pointer; }

.header-nav-compact #menuTrigger, .header-nav-compact .header-nav {
  display: none; }

.header-nav-compact #menuTrigger:checked + .header-nav {
  display: block; }

.header-nav-compact .header-nav {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #FFFFFF;
  text-align: center; }
  .header-nav-compact .header-nav li {
    padding: 15px 0;
    border-top: 1px solid #E5E5E5; }

.hero-banner {
  position: relative;
  height: 41.8125em;
  background-color: #1D58BC; }
  @media only screen and (max-width: 801px) {
    .hero-banner {
      height: 300px; } }
  .hero-banner svg {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 15vw; }

header {
  background-color: white; }

body {
  background-color: lightgray; }
