//*
/// Color variables
/// Visit http://chir.ag/projects/name-that-color/#6195ED to name variable with appropriate name
///

$picton-blue: #32ADE6;
$denim: #1D58BC;
$cello: #1D355E;

$white: #FFFFFF;
$alabaster: #FAFAFA;
$mercury: #E5E5E5;
$alto: #D3D3D3;
$scoprion: #595959;

$black: #000000;
