// Global color variables
// Visit http://chir.ag/projects/name-that-color/#6195ED to name variable with appropriate name

$scoprion: #595959;
$picton-blue: #32ADE6;
$denim: #1D58BC;
$cello: #1D355E;
$white: #FFFFFF;
