//*
/// Prefixes for flexbox
///
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

//*
/// Generate button with custom styles
/// @param  {String} $background-color
/// @param  {String} $height (optional)
/// @param  {String} $border-color (optional)
///
@mixin button($background-color, $height: 44px, $border-color:null) {
    @if $border-color {
        border: 1px solid $border-color;
    }
    height: $height;
    padding: 0 30px;
    background-color: $background-color;
    border-radius: 2px;
}

@mixin breakpoint($breakpoint-name) {
    @if $breakpoint-name == 'x-small' {
        @media only screen and (max-width: 500px) { @content; }
    }
    @else if $breakpoint-name == 'small' {
        @media only screen and (max-width: 800px) { @content; }
    }
    @else if $breakpoint-name == 'medium' {
        @media only screen and (min-width: 801px) and (max-width: 999px) { @content; }
    }
    @else if $breakpoint-name == 'large' {
        @media only screen and (min-width: 1000px) { @content; }
    }
}

@mixin anchor($color) {
    color: $color;
    text-decoration: none;

    &:visited {
        color: $color;
    }
}

@mixin create-grid($columns) {
    width: calc(95% / #{$columns});
    margin-bottom: 30px;
    box-shadow: 0 0 1px 1px $alto;
    background-color: $white;
}
