//*
/// Typography variables
///
$typography-default-font-size: 18px;

@font-face {
    font-family: "Proxima Nova";
    src: url("fonts/proxima/proximanova-regular-webfont.woff2") format("woff2"),
         url("fonts/proxima/proximanova-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Proxima Nova Semibold";
    src: url("fonts/proxima/proximanova-semibold-webfont.woff2") format("woff2"),
         url("fonts/proxima/proximanova-semibold-webfont.woff") format("woff");
}

html, body, button {
    font-family: "Proxima Nova";
    font-size: $typography-default-font-size;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 72px;
    @include breakpoint('small') {
        font-size: 36px;
    }
}

h2 {
    font-size: 48px;
    @include breakpoint("small") {
        font-size: 36px;
    }
}

h3 {
    font-size: 32px;
    @include breakpoint('small') {
        font-size: 18px;
    }
}
